@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'BigNoodle';
    src: url('big_noodle_titling.ttf') format('truetype');
}

:root {
    --cyberyellow: #f1e44c;
    --cyberblue: #001ad2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Roboto Mono';
}

h1 {
  font-family: 'BigNoodle';
  color: var(--cyberyellow);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
