@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'BigNoodle';
    src: url('../public/big_noodle_titling.ttf') format('truetype');
}

:root {
    --pink: #E187AC;
    --yellow: #F7F8B6;
    --blue: #98E0FA;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

.type-yellow {
    color: var(--yellow);
}

.type-pink {
    color: var(--pink);
}
