/* Border frame */

.borders {
    pointer-events: none;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    margin: 18px;
    border-style: dashed solid;
    border-width: 4px 2px;
    border-color: var(--yellow);
    border-radius: 0px;
    /* mix-blend-mode: difference; */
}

.borders._1 {
    display: block;
}

.borders._2 {
    position: absolute;
    border-style: solid;
    border-width: 1px;
}


/* Main Grid */

.container {
  min-height: 100vh;
  background: var(--blue);
  z-index: -1;
  background-size: cover;
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  padding: 18px;
}

.contents {
  width: 500px;
  max-width: 85%;
  position: relative;
  z-index: 1;
}

.box {
  display: flex;
  flex-flow: column;
  background: white;
  border: solid black;
  padding: 30px;
}

.imageWrapper div:first-child {
  border: solid black;
}

.imageWrapper img {
    height: auto;
    width: auto;
}

.balanceInfo {
  background: var(--yellow);
  box-shadow: 3px 3px var(--pink);
  margin: 1rem 0;
  padding: 1.4rem;
  color: black;
  font-size: large;
}

.mintInfo {
  margin: 10px 0;
  color: black;
  font-size: medium;
}

.mintStatus {
  color: black;
  font-size: large;
  margin: 2rem 0 1rem 0;
  padding: 1.1rem 0;
}

.description-size {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mintButtonSection {
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balanceModSection {
    display: flex;
    flex-flow: column;
}

.title {
  display: flex;
  flex-flow: column;
  font-family: 'BigNoodle', sans-serif;
  font-size: calc(25px + 2vmin);
  color: var(--yellow);
}

.title a {
  text-align: right;
  color: white;
}

.title h1 {
  margin-block-start: unset;
  margin-block-end: 0.3em;
  color: var(--yellow);
  text-shadow: 2px 2px var(--pink);
  font-size: 2.5em;
}

/* Animations */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

.btn {
  font-family: 'BigNoodle';
  text-transform: uppercase;
}

.btnMain {
  position: relative;
  background: var(--yellow);
  border: solid black 4px;
  color: black;
  display: inline-block;
  font-size: 2rem;
  min-width: 200px;
  padding: .5rem 2rem;
  text-transform: uppercase;
  width: fit-content;
  font-family: 'BigNoodle';
}

.btns {
  background: white;
  width: 3rem;
  margin: 0.5rem;
  font-size: 2rem;
  border: solid black 2px;
}

.btnPlus:hover {
  background: var(--pink);
}

.btnLess:hover {
  background: var(--yellow);
}

.btn[disabled] {
    background-color: #ffff;
    animation: none;
}

.btn[disabled]:hover {
    animation: none;
    background-color: #ffff;
}

.btnMain:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.btnMain:hover, .btnMain:focus {
  background: var(--pink);
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

