.container {
  background: rgb(2,0,36);
  background-image: url("../public/background.svg");
  background-size: cover;
  text-align: center;
  padding: 3vmin 0;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.title {
  display: flex;
  flex-flow: column;
  font-family: 'BigNoodle', sans-serif;
  color: var(--cyberyellow);
}

.title a {
  text-align: right;
  color: white;
}

.title h1 {
  margin-block-start: unset;
}

.borders {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    margin: 18px;
    border-style: dashed solid;
    border-width: 4px 2px;
    border-color: #fff;
    border-radius: 0px;
    mix-blend-mode: difference;
}

.borders._1 {
    display: block;
}

.borders._2 {
    position: absolute;
    border-style: solid;
    border-width: 1px;
}

.imageWrapper div:first-child {
  width: 50vmin;
}

.description {
  font-size: x-large;
  text-shadow: 0 0 5px #000000, 0 0 10px var(--cyberblue);
}

.opensea {
  font-size: xx-large;
  color: #1C6ADB !important;
  text-shadow: 0 0 6px #000000, 0 5px 15px #FFF;
}

.win {
  text-shadow: 0 0 6px #000000, 0 5px 19px var(--cyberyellow) !important;
}

.description-size {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .description {
    width: 98%;
  }
}

@media only screen and (max-width: 900px) {
  .description {
    width: 88%;
  }
}

@media only screen and (max-width: 1200px) {
  .description {
    width: 78%;
  }
}
.btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.btn {
  z-index: 1;
  position: relative;
  background: var(--cyberblue);
  color: white;
  display: inline-block;
  font-size: 2.2rem;
  border: none;
  margin: 1rem;
  min-width: 200px;
  padding: .5rem 2rem;
  text-transform: uppercase;
  width: auto;
  font-family: 'BigNoodle';
}

.btn::after, .btn::before {
  border: 2px solid var(--cyberblue);
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.btn:focus,
.btn:hover {
    background: var(--cyberyellow);
    color: var(--cyberblue);
}

.btn:hover::after {
    border-color: var(--cyberyellow);
    transform: translate(-5px, -5px);
}

.btn:hover::before {
    border-color: var(--cyberyellow);
    transform: translate(5px, 5px);
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.card {
  animation: rotating 6s linear infinite;
}
